body{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: deeppink;
    color: #fff;
    font-size: 14px;
}
.container{
    position: relative;
    width: 100vw;
    height: 100vh;
}
form{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
}
form input{
   align-self:flex-start;
   position: relative;
   top:0px;
   margin: 5px 10px;
   z-index: 10;
}
form input::after{
    content: ""attr(title)"";
    position: absolute;
    left: 30px;
    top: -3px;
    color: #fff;
    display: block;
    min-width: 120px;
    opacity: 0;
    transition: opacity .5s ease,
    left .5s ease;
}
form input:checked::after{
    opacity: 1;
    left: 20px;
}

form .labels label:nth-child(even){
    background-color: #2b2b2b;
}
form input:nth-of-type(1):checked ~ .labels label{
    transform: translateY(-0%);
}
form input:nth-of-type(2):checked ~ .labels label{
    transform: translateY(-100%);
}
form input:nth-of-type(3):checked ~ .labels label{
    transform: translateY(-200%);
}
form input:nth-of-type(4):checked ~ .labels label{
    transform: translateY(-300%);
}
form input:nth-of-type(5):checked ~ .labels label{
    transform: translateY(-400%);
}
.labels{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.labels label{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease;
}
.icon{
    position: absolute;
    bottom: 10px;
    text-align: center;
    left: 0;
    right: 0;
}